@using MileageStats.Web.Helpers
<script id="fleet-statistics-template" type="text/x-jquery-tmpl">
    <h1>Summary Statistics</h1>
    <div class="statistic mile-per-gallon">${AverageFuelEfficiency}<span
        class="units">@Html.DisplayFuelConsumptionAverageAbbreviation()</span></div>
    <div class="statistic cost-per-mile">${AverageCostToDrive}<span
        class="units">per @Html.DisplayDistanceUnitAbbreviation(false)</span></div>
    <div class="statistic cost-per-month">${AverageCostPerMonth}<span
        class="units">per month</span></div>
</script>